nav {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    border: 1px solid red;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #E5E7EB;
    border: 1px solid rgba(0, 200, 255, 0.758);
    display: flex;
}

li {
    border: 1px solid rgb(44, 255, 12);
    display: flex;
    gap: 18px;
}

.logo {
    margin-left: 18px;
}
  
a {
    text-decoration: none;
    color: #E5E7EB;
}