
/* Navigation menu */
.container  {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 0 10%;
    text-align: center;
    display: flex;
}

.links {

    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #E5E7EB;
    display: flex;    
}

li {
    padding: 10px;    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Awesome block */

.awesome-container {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}
